<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cy.myapplication"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:icon, android:theme"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cy.myapplication.CameraAlbumTest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".DisplayMessageActivity" />
        <activity android:name=".Broadcast" />

        <provider
            android:name=".DatabaseProvider"
            android:authorities="com.example.cy.myapplication.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".RecyclerView_GridView.GirdViewActivity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ServiceBestPractice.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MaterialDesign.MaterialDesignActivity" />
        <activity
            android:name=".MaterialDesign.FruitActivity"
            android:theme="@style/FruitActivityTheme" />
        <activity android:name=".Fragment.FragmentActivity" />
        <activity android:name=".Fragment.NewsContentActivity" />
        <activity android:name=".CameraAlbumTest.Camera" />
        <activity android:name=".PlayAudioTest.PlayAudio" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mo5N2HbDCbG7ujuOGsKD3xCeiSdIvGiS" />

        <activity android:name=".LBStest.BaiduMapTest" />
        <activity android:name=".ViewCustom.CustomViewActivity"></activity>
    </application>

</manifest>